accelerate
bitsandbytes
datasets
deepspeed==0.16.9
einops
vllm
# flash-attn==2.7.4.post1
isort
jsonlines
loralib
optimum
optree>=0.13.0
packaging
peft
pynvml>=12.0.0
ray[default]==2.43.0
tensorboard
torch<2.7.0
torchmetrics
tqdm
transformers
transformers_stream_generator
wandb
wheel
torchdata

ring_flash_attn
# prover
easydict